@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #201f23;
}

/* logo style */

h1 {
    font-family: 'Spartan', sans-serif;
    color: #ae0b0b;
    letter-spacing: 1px;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation menu */

#menu {
    float: right;
    letter-spacing: 2px;
    font-size: 125%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
}