@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spartan&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #3b3942;
}

/* logo style */

h1 {
    font-family: 'Spartan', sans-serif;
    color: #ae0b0b;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 50px;
}

/* navigation menu */

.navbar {
    height: 100px;
    background-color: #201f23;
}

#menu {
    float: right;
    letter-spacing: 2px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 50px;
    color: #f4f1ee;
}

#menu a {
    text-decoration: none;
    color: inherit;
    margin: 1rem;
    padding: 5px 12px;
    border-radius: 5px;
}

#menu, #logo {
    line-height: 100px;
}

#menu a:hover {
    background-color: #f4f1ee;
    color: #201f23;
}

/* main image */

#main-image {
    height: 450px;
    width: 100%;
    background: url('../images/salsa.jpg') no-repeat center center;
    background-size: cover;
}

/* Available Courses */

#courses {
    margin-top: 100px;
}

hr {
    border: 1px solid #d4d2db;
    width: 35%;
    margin: auto;
    margin-top: 30px;
}

h2, h4 {
    text-align: center;
    text-transform: uppercase;
    color: #d4d2db;
}

img {
    width: 100%;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.wrap {
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    width: 50%;
    background: #201f23;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    border-radius: 10px;
}

p {
    padding: 1rem;
    color: #d4d2db;
}